@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
	margin: 0px;
	padding: 0px;
	font-family: 'Varela Round';
}

a{
	text-decoration: none;
	color: whitesmoke;
}

li{
    list-style-type: none;
    text-shadow: black 0.1em 0.1em 0.2em;
}

a:hover{
	color: teal;
}

.pointer{
	cursor: pointer;
}

header, footer{
 	background-color: rgb(128, 128, 128, 0.8);
}

.navList{
    display: flex;
}

.navItem{
    margin: 11px;
}

.indexImg{
	width: 400px;
}

.indexEncabezado h1{
   font-size: 50px;
   word-spacing: 2rem;
   letter-spacing: 5px;
}

.indexEncabezado h2{
	display: flex;
    justify-content: center;
	align-items: center;
	padding-bottom: 1rem;
	word-spacing: 5px;
}

.mainUscontent{
	display: flex;
	flex-direction: column;
	padding-left: 2rem;
}

.mainUscontent-item{
	font-size: 70px;
	color: darkslategrey;
	text-shadow: black 0.1em 0.1em 0.2em;
}

span{
	color: lightsteelblue;
}

.mainUscontent-itemtwo{
	font-size: 25px;
	color: whitesmoke;
	text-shadow: black 0.1em 0.1em 0.2em;
}

.footerList{
	display: flex;
}

.footerPage{
	word-spacing: 70px;
	letter-spacing: 40px;
	padding-top: 1rem;
	font-size: 15px;
	text-shadow: black 0.1em 0.1em 0.2em;
}

.indexContainer{
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto auto auto;
	grid-template-areas: 
	"header"
	"mainIndex"
	"footer";
	background-image: url(../assets/img/bg-5.JPEG);
    background-attachment: fixed; 
	background-position: center; 
	background-repeat: no-repeat;
	background-size: cover; 
}

header{
	grid-area: header;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px 1rem;
}

.mainIndex{
	grid-area: mainIndex;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 2rem;
	color: whitesmoke;
	text-shadow: black 0.1em 0.1em 0.2em;
}

footer{
	grid-area: footer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 2rem;
}

.usContainer{
	display: grid;
	grid-template-columns: 100%; 
	grid-template-rows: auto auto auto;
	grid-template-areas: 
	"header"
	"mainUs"
	"footer";
	background-image: url(../assets/img/bg-4.JPEG);
    background-attachment: fixed; 
	background-position: center; 
	background-repeat: no-repeat;
	background-size: cover;
}

.mainUs{
	grid-area: mainUs;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-top: 2rem;
	padding-right: 12rem;
	padding-left: 12rem;
	padding-bottom: 2rem;
}