<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BlueSeen | Centro de Ayuda</title>
</head>
<body>
		<header>
        <div>
		    <a href=""><img src="" alt="logo.bear"></a> 	
		</div>			
			<nav>
				<ul>
					<li><a href="">INICIO</a></li>
			        <li><a href="">NOSOTROS</a></li>
			        <li><a href="">VALORANOS</a></li>
			        <li><a href="">CENTRO DE AYUDA</a></li>
			        <li><a href="">CONTACTO</a></li>
				</ul>
			</nav>
		</header>

		<main>
         <div>
			  <h1>EN BLUESEEN</h1>
			  <h1>NOS PREOCUPAMOS</h1>
			  <h1>POR VOS.</h1>
		</div>
		
        <div>
        	 <p>Listen a little bit to comfort yourself...</p>
             <iframe class="ytVideo" width="850" height="350" src="https://www.youtube.com/embed/9FvvbVI5rYA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

		<div>
			<h3>En caso de emergencia,</h3> 
			<h3>te dejamos líneas telefónicas</h3> 
		    <h3>de prevención suicida.</h3>
			<ul>
			    <li><a href="" target="blank">☾ Centro de Asistencia al Suicida</a></li>
			    <li><a href="" target="blank">☾ Prevensión del Suicidio</a></li>
			    <li><a href="" target="blank">☾ Recursos Internacionales de Prevención al Suicidio</a></li>
			    <li><a href="" target="blank">☾ Lifeline: Ayuda en Español</a></li>
			    <li><a href="" target="blank">☾ Prevensión del Suicidio</a></li>
			</ul>
		</div>	
		</main>

		<footer>
	        <div>
				<ul>
					 <li><a href="https://www.instagram.com" target="blank"><img src="https://icongr.am/entypo/instagram-with-circle.svg?size=30&color=ffffff"></a></li>
                     <li><a href="https://es-la.facebook.com" target="blank"><img src="https://icongr.am/entypo/facebook-with-circle.svg?size=30&color=ffffff"></a></li>
                     <li><a href="https://twitter.com" target="blank"><img src="https://icongr.am/entypo/twitter-with-circle.svg?size=30&color=ffffff"></a></li>  
				</ul>
			</div>
			<div>
				<p><a href="">☾WWW.BLUESEEN.COM</a></p>
			</div>
		</footer>
</body>
</html>