<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BlueSeen | Centro de Ayuda</title>
</head>
<body>

		<header>
        <div>
		    <a href=""><img src="" alt="logo.bear"></a> 	
		</div>			
			<nav>
				<ul>
					<li><a href=""></a></li>
			        <li><a href=""></a></li>
			        <li><a href=""></a></li>
			        <li><a href=""></a></li>
			        <li><a href=""></a></li>
				</ul>
			</nav>
		</header>

		<main>
         <div>
			  <h1></h1>
			  <h1></h1>
			  <h1></h1>
		</div>
		
        <div>
        	 <p></p>
             <iframe></iframe>
        </div>

		<div>
			<h3></h3> 
			<h3></h3> 
		    <h3></h3>
			<ul>
			    <li><a href="" target="blank"></a></li>
			    <li><a href="" target="blank"></a></li>
			    <li><a href="" target="blank"></a></li>
			    <li><a href="" target="blank"></a></li>
			    <li><a href="" target="blank"></a></li>
			</ul>
		</div>	
		</main>

		<footer>
	        <div>
				<ul>
					 <li><a href="" target="blank"><img src=""></a></li>
                     <li><a href="" target="blank"><img src=""></a></li>
                     <li><a href="" target="blank"><img src=""></a></li>  
				</ul>
			</div>
			<div>
				<p><a href=""></a></p>
			</div>
		</footer>
</body>
</html>