<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BlueSeen | Nosotros</title>
</head>
<body>
<body">
	<header>
		<div>
			<a href=""><img src="" alt="logo.nav"></a>
		</div>
		<nav>
			<ul>
			   <li><a href=""></a></li>
			   <li><a href=""></a></li>
			   <li><a href=""></a></li>
			   <li><a href=""></a></li>
			   <li><a href=""></a></li>
			</ul>
		</nav>
	</header>

	<main>
		<div>
			<img src="" alt="app.bear">
		</div>
		<div>
			<h2><span></span></h2>
			<p></p>
		</div>
	</main>

	<footer>
        <div>
        	<ul>
                <li><a href="" target="blank"></a></li>
                <li><a href="" target="blank"></a></li>
                <li><a href="" target="blank"></a></li>   
            </ul>
        </div>
        <div>
        	<p><a href=""></a></p>
        </div>
	</footer>
</body>
</html>