<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BlueSeen | Nosotros</title>
</head>
<body>
	<header>
		<div>
			<a href=""><img src="" alt="logo.nav"></a>
		</div>
		<nav>
			<ul>
			   <li><a href="">INICIO</a></li>
			   <li><a href="">NOSOTROS</a></li>
			   <li><a href="">VALORANOS</a></li>
			   <li><a href="">CENTRO DE AYUDA</a></li>
			   <li><a href="">CONTACTO</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<div>
			<img src="" alt="app.bear">
		</div>
		<div>
			<h2>Blue<span>Seen</span></h2>
			<p>Somos una aplicación que está orientada a toda la audiencia que necesita un apoyo amable y cálido en momentos difíciles.
            Nuestro objetivo es brindar un espacio donde el usuario pueda interactuar consigo mismo y las emociones que sienta en el momento presente.
            Para eso disponemos de cuestionarios, juegos simples y dinámicos, áreas creativas y sugerencias de entretenimiento.
            Todo con la finalidad de identificar y explorar las emociones del usuario como el mismo lo decida.</p>
		</div>
	</main>

	<footer>
	        <div>
				<ul>
					 <li><a href="https://www.instagram.com" target="blank"><img src="https://icongr.am/entypo/instagram-with-circle.svg?size=30&color=ffffff"></a></li>
                     <li><a href="https://es-la.facebook.com" target="blank"><img src="https://icongr.am/entypo/facebook-with-circle.svg?size=30&color=ffffff"></a></li>
                     <li><a href="https://twitter.com" target="blank"><img src="https://icongr.am/entypo/twitter-with-circle.svg?size=30&color=ffffff"></a></li>  
				</ul>
			</div>
        <div>
        	<p><a href="">☾ WWW.BLUESEEN.COM</a></p>
        </div>
	</footer>
</body>
</html>