<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BlueSeen | Valoranos</title>
</head>
<body>
<body>
	<header>
		<div>
			<a href="../index.html"><img src="../assets/img/logo_bearwhite.PNG" alt="logo.nav"></a>
		</div>
		<nav>
			<ul>
			   <li><a href="../index.html">INICIO</a></li>
			   <li><a href="../views/nosotros.html">NOSOTROS</a></li>
			   <li><a href="valoranos.html">VALORANOS</a></li>
			   <li><a href="../views/centrodeayuda.html">CENTRO DE AYUDA</a></li>
			   <li><a href="../views/contacto.html">CONTACTO</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<div>
			<h2>VALORANOS PARA QUE PODAMOS SEGUIR MEJORANDO TU EXPERIENCIA CON BLUESEEN</h2>
			<h3>¡Hagamos la encuesta a lo BlueSeen y contestanos con colores!</h3>
		</div>
		<div>
			<img src="../assets/img/imgValoranos.jpg" alt="img.encuesta">
		</div>
		<div>
			<form action="#">
				<p>NOMBRE:</p>
				<input type="nombre" name="nombre" placeholder="NOMBRE O APODO">
				<p>EMAIL:</p>
				<input type="email" name="email@correoelectronico.com" placeholder="cutiebear@bears.com">
				<p>SEXO:</p>
				<select>
					<option value="fem">FEMENINO</option>
					<option value="masc">MASCULINO</option>
					<option value="none">GÉNERO NO BINARIO</option>
					<option value="not">PREFIERO NO DECIRLO</option>
				</select>
				<p>COLOR FAVORITO:</p>
				<select>
					<option value="rojo">PALETA ROJA</option>
					<option value="naranja">PALETA NARANJA</option>
					<option value="amarillo">PALETA AMARILLA</option>
					<option value="verde">PALETA VERDE</option>
					<option value="azul">PALETA AZUL</option>
					<option value="violeta">PALETA VIOLETA</option>
					<option value="rosa">PALETA ROSA</option>
				</select>
				<p>ESTADO ANÍMICO:</p>	
				<select>
					<option value="triste">TRISTE</option>
					<option value="enojado">ENOJADO</option>
					<option value="pensativo">PENSATIVO</option>
					<option value="tranquilo">TRANQUILO</option>
					<option value="contento">CONTENTO</option>
					<option value="alegre">ALEGRE</option>
					<option value="feliz">FELIZ</option>
					<option value="neutro">NEUTRO</option>
				</select>
				<p>¿Estás satisfecho con la app?</p>
				<select>
					<option value="si">AZUL: SÍ</option>
					<option value="no">ROJO: NO</option>
					<option value="siyno">VERDE: SÍ Y NO</option>
					<option value="ninguno">GRIS: NO SÉ</option>
				</select>
				<p>¿Crees que tengamos que mejorar algo?</p>
				<select>
					<option value="si">AZUL</option>
					<option value="si">AZUL Y VIOLETA: SI Y CON URGENCIA</option>
					<option value="no">ROJO</option>
					<option value="no">ROJO Y CELESTE: ASÍ ESTÁ BIEN</option>
				</select>
				<p>¿Qué impresión te dejamos?</p>
				<textarea rows="3" cols="35"></textarea>
				<p>¿Alguna experiencia con nosotros que quieras contarnos?</p>
				<textarea rows="3" cols="35"></textarea>
			</form>
			<input type="submit" name="ENVIAR">
			<input type="reset" name="RESTABLECER">
		</div>
	</main>

	<footer>
	        <div>
				<ul>
					 <li><a href="https://www.instagram.com" target="blank"><img src="https://icongr.am/entypo/instagram-with-circle.svg?size=30&color=ffffff"></a></li>
                     <li><a href="https://es-la.facebook.com" target="blank"><img src="https://icongr.am/entypo/facebook-with-circle.svg?size=30&color=ffffff"></a></li>
                     <li><a href="https://twitter.com" target="blank"><img src="https://icongr.am/entypo/twitter-with-circle.svg?size=30&color=ffffff"></a></li>  
				</ul>
			</div>
        <div>
        	<p><a href="">☾WWW.BLUESEEN.COM</a></p>
        </div>
	</footer>
</body>
</html>