<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BlueSeen | Valoranos</title>
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="valueusContainer">
	<header>
		<div class="logoNav">
			<a href="../index.html"><img src="../assets/img/logo_bearwhite.PNG" alt="logo.nav" class="logo"></a>
		</div>
		<nav>
			<ul class="navList pointer">
			   <li class="navItem"><a href="../index.html">INICIO</a></li>
			   <li class="navItem"><a href="../views/nosotros.html">NOSOTROS</a></li>
			   <li class="navItem"><a href="valoranos.html">VALORANOS</a></li>
			   <li class="navItem"><a href="../views/centrodeayuda.html">CENTRO DE AYUDA</a></li>
			   <li class="navItem"><a href="../views/contacto.html">CONTACTO</a></li>
			</ul>
		</nav>
	</header>

	<main class="mainValueus">
		<div class="encabezadosValueus">
			<h2 class="encabezadoValueus-itemA">VALORANOS PARA QUE PODAMOS SEGUIR MEJORANDO TU EXPERIENCIA CON BLUESEEN</h2>
			<h3 class="encabezadoValueus-itemB">¡Hagamos la encuesta a lo BlueSeen y contestanos con colores!</h3>
		</div>
	</main>
	<div class="valueusContent">
		<div class="valueusImg">
			<img src="../assets/img/imgValoranos.jpg" alt="img.encuesta" class="imgvUs">
		</div>
		<div class="form">
			<form action="#">
				<p class="colorForm">NOMBRE:</p>
				<input type="nombre" name="nombre" placeholder="NOMBRE O APODO">
				<p class="colorForm">EMAIL:</p>
				<input type="email" name="email@correoelectronico.com" placeholder="cutiebear@bears.com">
				<p class="colorForm">SEXO:</p>
				<select>
					<option value="fem">FEMENINO</option>
					<option value="masc">MASCULINO</option>
					<option value="none">GÉNERO NO BINARIO</option>
					<option value="not">PREFIERO NO DECIRLO</option>
				</select>
				<p class="colorForm">COLOR FAVORITO:</p>
				<select>
					<option value="rojo">PALETA ROJA</option>
					<option value="naranja">PALETA NARANJA</option>
					<option value="amarillo">PALETA AMARILLA</option>
					<option value="verde">PALETA VERDE</option>
					<option value="azul">PALETA AZUL</option>
					<option value="violeta">PALETA VIOLETA</option>
					<option value="rosa">PALETA ROSA</option>
				</select>
				<p class="colorForm">ESTADO ANÍMICO:</p>	
				<select>
					<option value="triste">TRISTE</option>
					<option value="enojado">ENOJADO</option>
					<option value="pensativo">PENSATIVO</option>
					<option value="tranquilo">TRANQUILO</option>
					<option value="contento">CONTENTO</option>
					<option value="alegre">ALEGRE</option>
					<option value="feliz">FELIZ</option>
					<option value="neutro">NEUTRO</option>
				</select>
				<p class="colorForm">¿Estás satisfecho con la app?</p>
				<select>
					<option value="si">AZUL: SÍ</option>
					<option value="no">ROJO: NO</option>
					<option value="siyno">VERDE: SÍ Y NO</option>
					<option value="ninguno">GRIS: NO SÉ</option>
				</select>
				<p class="colorForm">¿Crees que tengamos que mejorar algo?</p>
				<select>
					<option value="si">AZUL</option>
					<option value="si">AZUL Y VIOLETA: SI Y CON URGENCIA</option>
					<option value="no">ROJO</option>
					<option value="no">ROJO Y CELESTE: ASÍ ESTÁ BIEN</option>
				</select>
				<p class="colorForm">¿Qué impresión te dejamos?</p>
				<textarea rows="3" cols="35"></textarea>
				<p class="colorForm">¿Alguna experiencia con nosotros que quieras contarnos?</p>
				<textarea rows="3" cols="35"></textarea>
			</form>
			<div class="buttonsForm">
			<input type="submit" name="ENVIAR">
			<input type="reset" name="RESTABLECER">
			</div>
		</div>
	</div>

	<footer>
	    <div class="footerRedes">
				<ul class="footerList">
					 <li class="itemFooter"><a href="https://www.instagram.com" target="blank"><img src="https://icongr.am/entypo/instagram-with-circle.svg?size=30&color=ffffff"></a></li>
                     <li class="itemFooter"><a href="https://es-la.facebook.com" target="blank"><img src="https://icongr.am/entypo/facebook-with-circle.svg?size=30&color=ffffff"></a></li>
                     <li class="itemFooter"><a href="https://twitter.com" target="blank"><img src="https://icongr.am/entypo/twitter-with-circle.svg?size=30&color=ffffff"></a></li>  
				</ul>
			</div>
			<div class="footerPage">
				<p><a href="index.html">☾WWW.BLUESEEN.COM</a></p>
			</div>
	</footer>
</div>
</body>
</html>